<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="flex.ant.MxmlcTask"
            eclipseRuntime="false"
            library="lib/flexTasks.jar"
            name="mxmlc">
      </antTask>
      <antTask
            class="flex.ant.AsDocTask"
            eclipseRuntime="false"
            library="lib/flexTasks.jar"
            name="asdoc">
      </antTask>
      <antTask
            class="flex.ant.CompcTask"
            eclipseRuntime="false"
            library="lib/flexTasks.jar"
            name="compc">
      </antTask>
      <antTask
            class="flex.ant.HtmlWrapperTask"
            eclipseRuntime="false"
            library="lib/flexTasks.jar"
            name="html-wrapper">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            eclipseRuntime="false"
            library="lib/flexTasks.jar">
      </extraClasspathEntry>
   </extension>
   <extension
         point="org.eclipse.ant.core.antProperties">
      <antProperty
            class="org.axdt.flex4.antsupport.FlexResolver"
            eclipseRuntime="false"
            name="flex.home">
      </antProperty>
      <antProperty
            class="org.axdt.flex4.antsupport.FlexResolver"
            eclipseRuntime="false"
            name="flex.frameworks">
      </antProperty>
   </extension>
   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            description="%flexHomeDescription"
            initializerClass="org.axdt.flex4.antsupport.FlexResolver"
            name="flex.home">
      </variable>
      <variable
            description="%flexHomeFrameworks"
            initializerClass="org.axdt.flex4.antsupport.FlexResolver"
            name="flex.frameworks">
      </variable>
   </extension>
	<extension
		point="org.eclipse.ui.newWizards">
		<category name="Axdt" id="org.axdt.category"></category>
		<wizard name="Flex ant file"
			category="org.axdt.category"
			class="org.axdt.flex4.antsupport.NewFlexAntFileWizard"
			id="org.axdt.flex4.antsupport.newFlexAntFileWizard"
			icon="icons/flexant_file.gif">
		</wizard>
	</extension>
	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="org.axdt.core.ui.perspective">
			<newWizardShortcut id="org.axdt.flex4.antsupport.newFlexAntFileWizard"/>
		</perspectiveExtension>
	</extension>
	<extension
		point="org.eclipse.ui.navigator.navigatorContent">
		<commonWizard
			type="new"
			menuGroupId="axdt.new"
			wizardId="org.axdt.flex4.antsupport.newFlexAntFileWizard"
			associatedExtensionId="org.axdt.core.ui.navigatorContent">
			<enablement>
				<or>
					<adapt type="org.eclipse.core.resources.IProject" >
						<test property="org.eclipse.core.resources.projectNature" value="org.axdt.as3.imp.nature"/>
					</adapt>
					<adapt type="org.eclipse.core.resources.IFile" />	
					<adapt type="org.eclipse.core.resources.IFolder" />
				</or>
			</enablement>
		</commonWizard>
	</extension>
</plugin>
