<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.axdt.as3.debug.launch.As3LaunchDelegate"
            name="%launcherName"
            modes="run" public="true"
            id="org.axdt.as3.debug.launch.type"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/launcher.gif"
            configTypeID="org.axdt.as3.debug.launch.type"
            id="org.axdt.as3.debug.launch.image"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.axdt.as3.debug.launch.type"
            class="org.axdt.as3.debug.launch.As3LauncherTabGroup"
            id="org.axdt.as3.debug.launch.config"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.axdt.as3.debug.launch.As3LaunchShortcut"
            description="%shortcutDescription"
            icon="icons/launcher.gif"
            id="org.axdt.as3.debug.launch.shortcut"
            label="%shortcutLabel"
            modes="run">
         <configurationType
               id="org.axdt.as3.debug.launch.type">
         </configurationType>
         <contextualLaunch>
            <contextLabel
                  label="%runContextLabel"
                  mode="run">
            </contextLabel>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate><or>
                     <test property="org.eclipse.debug.ui.matchesPattern" value="*.as"/>
                     <test property="org.eclipse.debug.ui.matchesPattern" value="*.mxml"/>
                  </or></iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.axdt.core.ui.preferences"
            class="org.axdt.as3.debug.preferences.As3CompilerPreferencePage"
            id="org.axdt.as3.compiler.preferences"
            name="%compilerPrefName">
      </page>
      <page
          category="org.axdt.core.ui.preferences"
          class="org.axdt.as3.debug.preferences.As3DebugPreferencePage"
          id="org.axdt.as3.debug.preferences"
          name="%debugPrefName">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.axdt.as3.debug.preferences.As3CompilerPreferences">
      </initializer>
      <initializer
            class="org.axdt.as3.debug.preferences.As3DebugPreferences">
      </initializer>
   </extension>
  <extension
        point="org.eclipse.core.variables.dynamicVariables">
      <variable
            name="resource_name_noext"
            description="%resource_name_noext"
            resolver="org.axdt.as3.debug.variables.ResourceResolver">
      </variable>
      <variable
            name="deploy_loc"
            description="%deploy_loc"
            resolver="org.axdt.as3.debug.variables.DeployPathResolver">
      </variable>
      <variable
            name="deploy_path"
            description="%deploy_path"
            resolver="org.axdt.as3.debug.variables.DeployPathResolver">
      </variable>
      <variable
            name="deploy_name"
            description="%deploy_name"
            resolver="org.axdt.as3.debug.variables.DeployPathResolver">
      </variable>
  </extension>
</plugin>
