<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.axdt.swc.ui.SwcEditorView"
            default="true"
            extensions="swc"
            icon="icons/editor.gif"
            id="org.axdt.swc.ui.editor"
            name="%editorName">
      </editor>
   </extension>
</plugin>
