<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="errorCodeUriResolver" name="%errorCodeUriResolverName" schema="src/main/exsd/errorCodeUriResolver.exsd"/>
   <extension-point id="axdtCompiler" name="%axdtCompilerName" schema="src/main/exsd/axdtCompiler.exsd"/>
</plugin>
