<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.axdt.core.ui.preferences.CorePreferencePage"
            id="org.axdt.core.ui.preferences"
            name="%axdtPrefBase">
            
        </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.axdt.core.ui.preferences.CorePreferences">
      </initializer>
   </extension>
   <extension
         point="org.axdt.core.runtime.configProvider">
      <provider
            id="org.axdt.core.config"
            class="org.axdt.core.ui.preferences.CorePreferences"
            name="%axdtCoreConfig">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%axdtPerspective"
            icon="icons/perspective.gif"
            class="org.axdt.core.ui.perspective.AxdtPerspective"
            id="org.axdt.core.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.axdt.core.ui.preferences.CorePropertyPage"
            id="org.axdt.core.ui.preferences.CorePropertyPage"
            name="%axdtPrefBase">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
         <filter name="nature"  value="org.axdt.as3.imp.nature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.axdt.core.ui.perspective">
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.file">
         </newWizardShortcut>
         <viewShortcut
               id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ProblemView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.TaskList">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </viewShortcut>
         <view
               ratio="0.25"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
         <view
               ratio="0.7"
               relative="org.eclipse.ui.editorss"
               relationship="bottom"
               id="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               relative="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               id="org.eclipse.ui.console.ConsoleView">
         </view>
         <view
               ratio="0.75"
               relative="org.eclipse.ui.editorss"
               relationship="right"
               id="org.eclipse.ui.views.ContentOutline">
         </view>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/ovr16/nature_ovr.gif"
            id="org.axdt.core.ui.nature_img"
            label="As3 Nature"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <objectState
                  name="nature"
                  value="org.axdt.as3.imp.nature">
            </objectState>
         </enablement>
      </decorator>
   </extension>
</plugin>
