<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<category name="Axdt" id="org.axdt.category"></category>
		<wizard name="%confFile" icon="icons/flexconfig_file.gif"
			category="org.axdt.category" class="org.axdt.flex4.wizards.NewFlexConfigFileWizard"
			id="org.axdt.flex4.wizards.newFlexConfigWizard"/>
	</extension>
	<extension point="org.eclipse.wst.xml.core.catalogContributions">
		<catalogContribution>
			<public
				publicId="http://www.adobe.com/2006/flex-config"
				uri="src/main/xsd/flex-config.xsd" />
		</catalogContribution>
	</extension>
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.axdt.core.ui.perspective">
			<newWizardShortcut id="org.axdt.flex4.wizards.newFlexConfigWizard" />
		</perspectiveExtension>
	</extension>
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<commonWizard
			type="new"
			menuGroupId="axdt.new"
			wizardId="org.axdt.flex4.wizards.newFlexConfigWizard"
			associatedExtensionId="org.axdt.core.ui.navigatorContent">
			<enablement>
				<or>
					<adapt type="org.eclipse.core.resources.IProject" >
						<test property="org.eclipse.core.resources.projectNature" value="org.axdt.as3.imp.nature"/>
					</adapt>
					<adapt type="org.eclipse.core.resources.IFile" />	
					<adapt type="org.eclipse.core.resources.IFolder" />
				</or>
			</enablement>
		</commonWizard>
	</extension>
</plugin>
